body {
    background-image: url('/images/fundo.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.container {
    padding: 20px;
}


@font-face {
    font-family: 'Saiyan-Sans';
    src: url('/fonts/Saiyan-Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Saiyan-Sans', sans-serif;
}

.animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUpBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}